<h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <% if @task.completed == true %>
    <p>
      <input type="checkbox">
    This task is complete</p>
  <% else %>
    <p>
      <input type="checkbox">
      This task is incomplete
    </p>
  <% end %>

  <%= link_to 'list all tasks', tasks_path, class: 'btn btn-info mt-2' %>

  <%= link_to 'edit task', edit_task_path(@task), class: 'btn btn-secondary mt-2' %>

  <%= link_to "Delete #{@task.title}",
  task_path(@task), class: 'btn btn-danger mt-2',
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
